*{
    margin:0;
    padding:0;

}
body{
    background-color: beige;
    text-align: center;
}
.container{
    height: 70vh;
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
  
   
}
.game{height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content :center;
    align-items: center;
    gap:1.5vmin;

}
   .box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:blue;
    background-color: #a4faba;
   }
   #reset-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:blue;
    color:white;
    border-radius: 1rem;
    border:none;
  
   }
#new-btn{
    padding:1rem;
    font-size:1rem;
    background-color:blue;
    color:white;
    border-radius: 1rem;
    border:none;

}
.msg-container{
    height:100vmin;
    display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap:2rem;
}
#msg{
    color:rgb(247, 8, 8);
    font-size: 60px;

}
 .hide{
    display:none;
}
h1{
    
    color:rgb(255, 0, 170);
    justify-content: center;
   text-align: center;
    font-size:40px;
    background-color: black;
    height:5rem;
    line-height: 5rem;
}
  
